doctype html
html
  head
    title Detalle del producto
    link(rel="stylesheet", href="/css/styles.css")
  body
    header.header
      h2 Productos
      div
        div.div-menu
          a(href="/inicio").a-inicio Inicio
          a(href="/productos").a-inicio Productos
          a(href="/pedidos").a-inicio Pedidos
          a(href="/clientes").a-inicio Clientes
          a(href="/caja").a-inicio Pagos
          a(href="/informe").a-inicio Informes

        span Bienvenido #{usuario}
        form(method="POST", action="/logout")
          button(type="submit") Cerrar sesión

    .container
      h1 Detalle del producto
      .card
        p
          strong Nombre:
          |  #{producto.nombre}
        p
          strong Descripción:
          |  #{producto.descripcion}
        p
          strong Precio:
          |  $#{producto.precio}
      a(href="/productos")
        button.btn Volver a la lista
