doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="/css/styles.css")
    title= title
  body
    block content

block content
  h1 Sabor Urbano
  p Restaurante tradicional. Ve la carta:
a(href="/productos")
  button.btn Ver Productos

block content 
  p Ingresar a los pedidos:
a(href="/pedidos")
  button.btn Pedidos


