doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="/css/styles.css")
    title= title
  body
    header.header
      h2 Inicio
      div
        div.div-menu
          a(href="/inicio").a-inicio Inicio
          a(href="/productos").a-inicio Productos
          a(href="/informe").a-inicio Informes

        span Bienvenido #{usuario}
        form(method="POST", action="/logout")
          button(type="submit") Cerrar sesión
    block content

block content
  div.div-index-block-content
    h1.h1-banner SABOR URBANO

    div.menu-option
      a(href="/clientes")
        article.card-banner Clientes

      a(href="/productos")
        article.card-banner Productos

      a(href="/pedidos")
        article.card-banner Pedidos

      a(href="/informe")
        article.card-banner Informe

