doctype html
html
  head
    title Iniciar sesión
    
    link(rel="stylesheet", href="/css/login-styles.css")
  
  body
    .login-container
      h2 Iniciar sesión
      form(method="POST", action="/login")
        div
          label(for="usuario") Usuario
          input(type="text", name="usuario", placeholder="Tu usuario", required)

        div
          label(for="clave") Clave
          input(type="password", name="clave", placeholder="Tu clave", required)

        button(type="submit") Ingresar

      if error
        p.error #{error}
