doctype html
html
    head
        title Nuevo Pedido
        link(rel="stylesheet", href="/css/styles.css")
        
    body
        h1 Crear un nuevo pedido

        form.form-nuevoPedido(method="POST", action="/pedidos")
            div.div-top
                div.div-element
                    label(for="fecha") Fecha:
                    input.form-input(type="date" name="fecha" required)
                
                div.div-element
                    label(for="id_cliente") Cliente:
                    input.form-input(type="number" name="id_cliente" required)

                div.div-element
                    label(for="tipo") Tipo:
                    select.form-input(name="tipo")
                        option(value="Presencial") Presencial
                        option(value="Online") Online

                div.div-element
                    label(for="total") Total:
                    input.form-input(type="number" step="0.01" name="total" required)

            br
            
            div.div-bottom
                    each p in productos
                        div
                            input.checkbox(type="checkbox", name="productos", value=p.id)
                            | #{p.nombre}

            div.form-div-btn
                button.btn(type="submit") Crear pedido
                
        a(href="/pedidos")
            button.btn.btn-last Volver a la lista de pedidos

