.btn, button.btn-pedidos  {
  padding: 10px 20px;
  background: #007bff;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background: #0056b3;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 20px auto;
}

.ul-pedidos {
  width: 100%;
}

li {
  background-color: #fff;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li span {
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

li button {
  padding: 5px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

li button:first-of-type {
  background-color: #007bff;
  color: #fff;
}

li button:first-of-type:hover {
  background-color: #0056b3;
}

li button:last-of-type {
  background-color: #dc3545;
  color: #fff;
}

li button:last-of-type:hover {
  background-color: #a71d2a;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card p {
  font-size: 16px;
  margin: 10px 0;
}

button.btn, button.btn-pedidos {
  font-size: 13px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
  height: 40px;
}

button.btn:hover, button.btn-pedidos:hover {
  background-color: #0056b3;
}

button.btn-last, .btn-danger {
  background-color: #dc3545 !important;
  color: #fff;
}

button.btn-last:hover, .btn-danger:hover {
  background-color: #a71d2a !important;
}

button.btn-finalizar {
  background-color: rgb(7, 178, 90) !important;
}

button.btn-finalizar:hover {
  background-color: rgb(6, 124, 63) !important;
}



/* NuevoPedido / EditarPedido */
.form-nuevoPedido {
  display: flex;
  flex-direction: column;
  margin: 60px auto 20px;
  width: 70%;
}

.form-input {
  width: 100%;
  background-color: #f5f5f5;
  outline: 1px solid lightgrey;
  color: #242424;
  padding: .15rem .5rem;
  min-height: 40px;
  border-radius: 4px;
  border: none;
  line-height: 1.15;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

input:focus {
  border-bottom: 2px solid #0056b3;
  border-radius: 4px 4px 2px 2px;
}

input:hover {
  outline: 1px solid lightgrey;
}

.div-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.div-bottom {
  margin: 50px auto;
  line-height: 30px;
}

.div-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px
}

.form-nuevoPedido button {
  width: 40%;
  margin: auto;
}

.div-btn button {
  width: 40%;
  margin: auto;
}

.div-bottom input {
  margin-right: 10px;
}

div.form-div-btn button {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-last {
  width: 28%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

strong {
  margin-right: 4px;
}


/* Pedidos */
li button.btn-editar-pedido {
  background-color: #007bff;
}

li button.btn-editar-pedido:hover {
  background-color: #0056b3;
}

li.li-pedidos {
  justify-content: space-between;
  gap: 30px;

}

li div.div-btn {
  width: 330px;
}

.div-btn button {
  margin-right: 1rem;
}

.btn-nuevo-pedido {
  margin-bottom: 1rem;
}

.div-btn-pedidos-nuevo-finalizado {
  display: flex;
  gap: 1rem;
}

.li-pedidos {
  display: flex;
  flex-wrap: wrap;
}

.ul-productos {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}


/* Ticket */
.body {
  display: flex;
  flex-direction: column;
}

.div-ticket-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px groove rgba(128, 128, 128, 0.347);
  padding: 2rem;
}

.div-ticket-container p.p-visita {
  margin-top: 1rem;
  font-style: italic;
  text-align: center;
}

.strong-cliente {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  margin: 2rem 0;
}

.div-tipo-fecha {
  display: flex;
  justify-content: space-between;
}

.ticket-total {
  align-self: flex-end;
  margin-top: 2rem;
}

hr {
  color: rgb(77, 77, 77);
  width: 100%;
  border-style: dotted;
  margin-top: 2rem;
}

.btn-ticket {
  width: 50%;
  align-self: center;
  margin-top: 2rem;
}

.btn-last-ticket {
  margin-top: 1rem;
  width: 50%;
}



/* QUERIES */
@media (max-width: 1080px) {
  p {
    margin: 0;
  }

  .div-top {
    align-items: flex-start;
    justify-content: flex-start;
  }

}




@media (max-width: 768px) {
  .ul-pedidos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
  }

  .li-pedidos {
    flex-direction: column;
    max-width: 40%;
    margin: 0 auto;
  }
}




@media (max-width: 480px) {
  .li-pedidos {
    max-width: 50%;
  }
}




@media (max-width: 375px) {}