.btn {
  padding: 10px 20px;
  background: #007bff;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background: #0056b3;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 20px auto;
}

.ul-pedidos {
  width: 100%;
}

li {
  background-color: #fff;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li span {
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

li button {
  padding: 5px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

li button:first-of-type {
  background-color: #007bff;
  color: #fff;
}

li button:first-of-type:hover {
  background-color: #0056b3;
}

li button:last-of-type {
  background-color: #dc3545;
  color: #fff;
}

li button:last-of-type:hover {
  background-color: #a71d2a;
}

.li-pedidos {
  display: flex;
  /* flex-direction: column; */
}

.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card p {
  font-size: 16px;
  margin: 10px 0;
}

button.btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

button.btn:hover {
  background-color: #0056b3;
}

a {
  color: black;
}